footer {
  height: 10vh;
  margin-bottom: 1rem;
  color: black;
  margin-top: 1rem;
  @include flexCenter();
  flex-direction: column;
}

.socials {
  margin-top: 1rem;
  font-size: $base-font-size * 2;

  svg {
    color: black;
    margin: 0 0.5rem;

    &:hover {
      color: $tnff-red;
    }
  }
}
