@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");

html {
  background-color: whitesmoke;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Quattrocento Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

footer {
  margin-bottom: 1.5rem;
  color: grey;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

.wrapper {
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;
}

.layout {
  margin: 3rem auto;
  padding: 0 1rem;
}
