@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");

html {
  background-color: $tnff-blue;
}

body {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: $base-font-size;
  line-height: $vertical-rhythm;
}

main {
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;

  h3 {
    color: $tnff-red;
  }

  a {
    font-size: $base-font-size * 1.5;
    &:hover {
      color: $tnff-red;
    }
  }
}

li {
  display: inline-block;
  margin-right: 1rem;
}

hr {
  margin: 2rem 0;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

.layout {
  margin: 3rem auto;
}

@media (min-width: 768px) {
  main {
    margin-top: 5rem;
  }
}
