.film_meta {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  p {
    display: flex;
    align-items: center;
  }
  svg {
    margin: 0.25rem;
  }
}

.film_section {
  margin: 3rem 0;
}

.film_img {
  width: 250px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.director {
  display: flex;
  flex-direction: column;
}

.director_data {
  margin: 0 auto;
  h4 {
    display: flex;
    align-items: center;
  }
  svg {
    margin: 0.25rem;
  }
}

.director_img {
  width: 200px;
}

@media (min-width: 768px) {
  .film_meta {
    flex-direction: row;
    justify-content: space-around;
  }

  .film_img {
    width: 400px;
  }

  .director_img {
    width: 300px;
  }

  .director {
    display: flex;
    flex-direction: row;

    & > * {
      width: calc((100% / 2) - 2rem);
    }

    .director_data {
      margin: 0 2rem;
    }
  }
}
