.film_meta {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  p {
    display: flex;
    // flex-wrap: wrap;
    // margin-left: 0;
    align-items: center;
  }
  svg {
    margin: 0.25rem;
  }
}

.film_section {
  margin: 3rem 0;
}

.film_img {
  width: 250px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.director {
  display: flex;
  flex-direction: column;
}

.director_data {
  width: 100%;
  margin: 0 auto;
  h4 {
    display: flex;
    align-items: center;
  }
  svg {
    margin: 0.25rem;
  }
}

.director_img {
  width: 100%;
}

@media (min-width: 992px) {
  .director {
    display: flex;
    flex-direction: row;

    .director_data {
      width: calc(75%);
    }

    .director_img {
      margin: 1.5rem 0;
      width: calc(25%);
    }
    // & > * {
    //   width: calc((100% / 2));
    // }
  }
}

@media (min-width: 768px) {
  .film_meta {
    flex-direction: row;

    p {
      margin-right: 4rem;
      font-size: $base-font-size * 1.125;
    }
  }

  .film_img {
    width: 400px;
  }

  .director_data {
    margin-right: 2rem;
  }
}
